
:root {

  /* Colors: */
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-7e7e7e: #7E7E7E;
  --unnamed-color-00be97: #00BE97;
  --unnamed-color-212121: #212121;
  --unnamed-color-ff6e2e: #FF6E2E;

  /* Font/text values */
  --unnamed-font-family-rubik: Rubik;
  --unnamed-font-family-arial: Arial;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-11: 11px;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-12: 12px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-decoration-strikethrough: line-through;
  }

  /* Character Styles */
  .unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-arial);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-11);
  line-height: var(--unnamed-line-spacing-12);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-212121);
  }
  .unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-arial);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-11);
  line-height: var(--unnamed-line-spacing-12);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-212121);
  }
  .unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-arial);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-11);
  line-height: var(--unnamed-line-spacing-12);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-7e7e7e);
  }
  .unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-rubik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00be97);
  }
  .unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-rubik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00be97);
  }
  .unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-rubik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ff6e2e);
  text-decoration: var(--unnamed-decoration-strikethrough);
  }
  .unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-rubik);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00be97);
  }

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.container{
  /* Layout Properties */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1366px;
  height: 1275px;
  border: 3px solid;
  margin: 0 auto;

/* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.header{
  height: 185px;
  margin: 0 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrump{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 110px;

  /*text*/
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-7e7e7e);
  font: normal normal medium 15px/18px Rubik;
  letter-spacing: 0px;
  color: #7E7E7E;
  opacity: 1;
}
.textColor{
  color: var(--unnamed-color-00be97);
}
.line{
  width: 25px;
  margin: auto 12.5px;
}


.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1366px;
  height: 270px;
  margin-top: auto;
  background: var(--unnamed-color-212121) 0% 0% no-repeat padding-box;
  background: #212121 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.footer-contact-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 29px;
  margin-left: 110px;
  width: 50%;
  height: 100%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-rubik);
}
.footer-contact-info a{
  color: #fff;
  text-decoration: none;
  padding: 3px;
  cursor: text;
}
.footer-contact-info img{
  margin-bottom: 15px;
}
.footer-contact-info p{
  font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-15)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal 300 15px/18px Rubik;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0;
  padding: 3px;
}
.footer-contact-info span{
  margin-top: auto;
  margin-bottom: 26px;
  color: #FFFFFF;
  font: normal normal 300 15px/18px Rubik;
}

.footer-line{
  width: 40px;
  margin: auto 0;
}
.footer-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 29px;
  margin-left: 110px;
  width: 50%;
  height: 100%;
}

.footer-sitemap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  height: 100%;
  width: 50%;

}
.footer-products{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  height: 100%;
  width: 50%;
}

.footer-products .footer-products-heading,.footer-sitemap .footer-sitemap-heading{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  font: normal normal medium 16px/19px Rubik;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
}
.footer-products ul>li,.footer-sitemap ul>li{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-15)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00be97);
  font: normal normal medium 15px/18px Rubik;
  letter-spacing: 0px;
  color: #00BE97;
  opacity: 1;
  list-style-type: none;
  padding: 1px;
}

.footer-products li>a,.footer-sitemap li>a{
  color: #00BE97;
  text-decoration: none;
  cursor: text;
}

.productsList-container{
  margin: 0 110px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  align-items: center;
  justify-content: center;
}


/* Product Styles*/

.product-item-container{
  width: 250px;
  /*height: 343px;*/
  height: 40vh;
  padding: 20px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  transition: height 0.4s ease-out;

}
.product-item-container:hover{
  height: 42vh;
  transition: height 0.3s ease-in;


}

.product-item-container.logo{
  width: 162px;
  height: 139px;
  background: transparent url('../src/assets/Image1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.product-image{
  width: 162px;
  height: 139px;
  object-fit: cover;
}
.product-info,.product-sensor{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;

}
.product-info p,.product-sensor p{
  padding: 0;
  margin: 2px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--unnamed-color-212121);
  font-size: 12px;
  font-weight: bold;
  font-weight: 800;
  color: #212121;

}

.add-to-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 216px;
  height: 40px;
  background: var(--unnamed-color-00be97) 0% 0% no-repeat padding-box;
  background: #00BE97 0% 0% no-repeat padding-box;
  border-radius: 25px 0px;
  opacity: 1;
  transform: translateY(50);
  transition: transform 3s ease-in;
}

.product-price{
  width: 100%;
  height: 24px;
  margin-right: 15px;

  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00be97);
  font: normal normal medium 20px/24px Rubik;
  letter-spacing: 0px;
  color: #00BE97;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }



/* Cart Styles*/
.cart-container{
  position: absolute;
  width: 531px;
  height: 528px;
  background-color: #fff;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

}

.cart-sum.active{
  width: 20px;
  height: 20px;
  background-color: #00BE97;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font: normal normal bold 15px Arial;
  top: 28px;
  right: -8px;
  display: inline-block;
}

.cart-sum{
  display: none;
}

.cart-icon-wrapper{
  position: relative;
}


